{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h3>Modification de l'image personnelle</h3>
        {{ form_start(form) }}
        <div class="row">
            <div class="form-group col-12">
                {{ form_label(form.personal_image, 'Votre image personnelle') }}
                {{ form_widget(form.personal_image, {'attr': {'class': 'form-control-xs'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12">
                <button type="submit"
                        class="btn btn-orange text-white btn-xs col-12">Modifier l'image personnelle</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
