@charset "UTF-8";

$theme-colors:  (
                        "dark-pink": rgba(#a3418f, 1),
                        "light-pink": rgba(#E93959, 1)
                );

@import "~bootstrap/scss/bootstrap";
@import "~select2/src/scss/core";
@import "~@ttskch/select2-bootstrap4-theme/src/layout";

// Fonts
$mdi-font-path: "~@mdi/font/fonts" !default;
@import "~@mdi/font/scss/materialdesignicons";
@import "components/font";
// Color
@import "components/color-variables";
// Mixins
@import "mixins/border-radius";
@import "mixins/gradient";
// Variables
@import "components/variables";
// Functions
@import "components/functions";
// Form components
@import "components/form";

// Layout
@import "components/header";
@import "components/navbar";
@import "components/menuburger";

body {
  background-color: $mine-shaft;
  margin-top:       65px;
}

.uppercase {
  text-transform: uppercase;
}

.jumbotron {
  margin-bottom:    0.5rem;
  background-color: $white;

  &:last-child {
    margin-bottom: 5rem;
  }
}

div.input-field {
  padding: 0 10px;
}


