@charset "UTF-8";

$theme-colors:  (
                        "dark-pink": rgba(#a3418f, 1),
                        "light-pink": rgba(#E93959, 1)
                );

@import "~bootstrap/scss/bootstrap";
@import "~select2/src/scss/core";
@import "~@ttskch/select2-bootstrap4-theme/src/layout";

// Fonts
$mdi-font-path: "~@mdi/font/fonts" !default;
@import "~@mdi/font/scss/materialdesignicons";
@import "components/font";
// Variables
@import "components/variables";
// Form components
@import "components/form";

// Layout
@import "components/navbar";
@import "components/menuburger";

body {
  background-color: $mine-shaft;
  margin-top:       65px;
}

header {
  padding-bottom: 2px;
  margin-bottom:  0.5rem;
}

.header-image {
  margin:          auto;
  width:           auto;
  height:          100%;
  background:      url("../images/header.jpg") center no-repeat;
  background-size: contain;
}

.content-header {
  position:         fixed;
  top:              0;
  left:             0;
  width:            100%;
  height:           65px;
  background-color: $orange;
  z-index:          10;
  padding-bottom:   1px;
}

.uppercase {
  text-transform: uppercase;
}

.jumbotron {
  margin-bottom:    0.5rem;
  background-color: $white;

  &:last-child {
    margin-bottom: 5rem;
  }
}

div.input-field {
  padding: 0 10px;
}

.bold {
  font-weight: bold;
}

hr {
  height:           2px;
  width:            60%;
  background-color: #e93959;
  margin:           20px auto 25px;
}


