@charset "UTF-8";

$theme-colors:  (
                        "buttercup": rgba(246, 187, 12, 1),
                        "dark-pink": rgba(163, 65, 143, 1),
                        "light-pink": rgba(233, 57, 89, 1),
                        "light-grey": rgba(220, 218, 218, 1),
                        "yellow": rgba(246, 187, 12, 1),
                        "orange": rgba(252, 160, 9, 1),
                );

@import "~bootstrap/scss/bootstrap";
@import "~select2/src/scss/core";
@import "~@ttskch/select2-bootstrap4-theme/src/layout";

// Fonts
$mdi-font-path: "~@mdi/font/fonts" !default;
@import "~@mdi/font/scss/materialdesignicons";
@import "components/font";
// Variables
@import "components/variables";
// Form components
@import "components/form";

body {
  background-color: $mine-shaft;
  margin-top:       65px;
}

header {
  padding-bottom: 2px;
  margin-bottom:  0.5rem;
}

.header-image {
  margin:          auto;
  width:           auto;
  height:          100%;
  background:      url("../images/header.jpg") center no-repeat;
  background-size: contain;
}

.content-header {
  position:         fixed;
  top:              0;
  left:             0;
  width:            100%;
  height:           65px;
  background-color: $orange;
  z-index:          10;
  padding-bottom:   1px;
}

.uppercase {
  text-transform: uppercase;
}

div.jumbotron {
  background-color: $white;
  margin-bottom:    0.5rem;

  &:last-child {
    margin-bottom: 6rem;
  }
}

.carousel-control-prev, .carousel-control-next {
  z-index: 10;
  color: rgba(#a3418f, 1);

  &:hover {
    color: rgba(#a3418f, 1);
  }
}

div.input-field {
  padding: 0 10px;
}

.bold {
  font-weight: bold;
}

hr {
  height:           2px;
  width:            60%;
  background-color: $orange;
  margin:           20px auto 25px;
}

.overlay {
  display:    none;
  position:   fixed;
  top:        0;
  right:      0;
  bottom:     0;
  left:       0;
  width:      100vw;
  height:     100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index:    998;
  opacity:    0;
  transition: all 0.5s ease-in-out;

  &.active {
    display: block;
    opacity: 0.5;
  }
}

.btn {
  border-radius: 2rem;
}

.btn-group-sm > .btn {
  border-radius: 2rem;
}

.carousel-caption {
  &.d-block.d-block.d-md-none {
    display:         flex !important;
    align-items:     flex-end;
    justify-content: center;
    color:           #000000;
    left:            0;
    right:           0;
    width:           100%;
    height:          100%;
    bottom:          0;
    padding-bottom:  0;
  }
}

.nav-pills {
  .nav-link {
    &.active {
      background-color: $orange;
    }
  }
}

.navbar-light {
  .navbar-nav {
    .nav-link {
      color: $dark-gray;

      &.active {
        color: $orange;
      }
    }
  }
}

a.nav-link {
  color: $dark-gray;
}

.bg-light-grey {
  border-top:       #dcdada 1px solid !important;
  background-color: $mine-shaft !important;
}

div.jumbotron {
  padding: 1rem 1rem;

  a {
    color: #000000;


    &:hover .card-title {
      color: rgba(233, 57, 89, 1);
    }

    &:hover {
      text-decoration: none;
      color:           #000000;
    }
  }
}

.chat-form {
  .btn {
    border-radius: 0 0.25rem 0.25rem 0;
    border-color:  #ced4da;
    margin-left:   -1px;
  }

  .form-control {
    border-radius: 0.25rem 0 0 0.25rem;

  }
}

div.chat-content {
  height:     18.7rem;
  overflow-y: scroll;
}
