.count-container {
  display:        flex;
  align-content:  center;
  flex-direction: row;
  height:         105px;

  & > .count-container-group {
    display:        flex;
    flex-direction: column;
    flex:           1 1;
    text-align:     center;
    align-items:    center;

    .count-icon {
      display:         flex;
      align-items:     center;
      justify-content: center;
      height:          24px;
      width:           24px;

      &.icon-communities:before {
        content: url("../icons/group.svg");
      }

      &.icon-money:before {
        content: url("../icons/coin-stack.svg");
      }

      &.icon-users:before {
        content: url("../icons/users-group.svg");
      }
    }

    .common-count {
      margin-top:  15px;
      font-family: Montserrat-Bold, sans-serif;
      font-size:   18px;

      &.text {
        margin-top:  5px;
        font-family: Montserrat-Regular, sans-serif;
        font-size:   11px;
        font-weight: 600;
      }
    }

    p {
      margin: 0;
    }
  }
}
