.count-container {
  align-content: center;

  & > .count-container-group {
    text-align:  center;
    align-items: center;

    .count-icon {
      align-items:     center;
      justify-content: center;
      height:          24px;
      width:           24px;

      &.icon-communities:before {
        align-items:     center;
        justify-content: center;
        content:         url("../icons/group.svg");
      }

      &.icon-money:before {
        align-items:     center;
        justify-content: center;
        content:         url("../icons/coin-stack.svg");
      }

      &.icon-users:before {
        align-items:     center;
        justify-content: center;
        content:         url("../icons/users-group.svg");
      }
    }

    .common-count {
      margin-top:  5px;
      font-family: Montserrat-Bold, sans-serif;
      font-size:   18px;

      &.text {
        margin-top:  5px;
        font-family: Montserrat-Regular, sans-serif;
        font-size:   11px;
        font-weight: 600;
      }
    }

    p {
      margin: 0;
    }
  }
}
