.edit-links {
  padding: 10px 0 0 0;
}

.button {
  display:         flex;
  justify-content: flex-end;
  width:           99%;
  padding-top:     1%;
}

#profile-image {
  display:         flex;
  justify-content: center;

  img {
    width:         25%;
    height:        25%;
    margin-top:    -15px;
    border-radius: 50%;
  }
}

.display-user-infos {
  display:        flex;
  text-align:     center;
  flex-direction: column;

  .profile-user-name {
    margin:      10px 0 0 0;
    font-family: 'Montserrat', sans-serif;
    font-size:   20px;
    font-weight: bold;
  }

  .profile-user-email {
    margin:      0;
    color:       #616161;
    font-family: 'Montserrat', sans-serif;
    font-size:   13px;
  }
}

.btn-circle {
  display:          flex;
  justify-content:  center;
  width:            40px;
  height:           40px;
  background-color: #e93959;
  border-radius:    50%;
  border:           none;
  margin-top:       -20px;

  & > a {
    color: white;
  }
}
