.alert {
  position:      relative;
  padding:       10px 10px;
  margin-bottom: $alert-margin-bottom;
  border:        $alert-border-width solid transparent;
  @include border-radius($alert-border-radius);
}

@each $color, $value in $theme-colors {
  .alert-#{$color} {
    @include alert-variant(theme-color-level($color, $alert-bg-level), theme-color-level($color, $alert-border-level), theme-color-level($color, $alert-color-level));
  }
}
