$purple: (
                 "base": #A3418F,
                 "lighten-5": #D1A0C7,
                 "lighten-4": #C78DBB,
                 "lighten-3": #BE7AB0,
                 "lighten-2": #B566A5,
                 "lighten-1": #AC549A,
                 "darken-1": #923A80,
                 "darken-2": #823472,
                 "darken-3": #722D64,
                 "darken-4": #612755,
         );

$orange: (
                 "base-logo":#FCA009,
                 "base": #F1712A,
                 "lighten-5": #F8B894,
                 "lighten-4": #F6A97F,
                 "lighten-3": #F59B69,
                 "lighten-2": #F38D54,
                 "lighten-1": #F27F3F,
                 "darken-1": #D86525,
                 "darken-2": #C05A21,
                 "darken-3": #A84F1D,
                 "darken-4": #904319,
         );

$amaranth: (
                   "base": #E93959,
                   "lighten-5": #F49CAC,
                   "lighten-4": #F1889B,
                   "lighten-3": #EF748A,
                   "lighten-2": #ED607A,
                   "lighten-1": #EB4C69,
                   "darken-1": #D13350,
                   "darken-2": #BA2D47,
                   "darken-3": #A3273E,
                   "darken-4": #8B2235,
           );

$buttercup: (
                    "base": #F6BB0C,
                    "lighten-5": #FADD85,
                    "lighten-4": #F9D66D,
                    "lighten-3": #F8CF54,
                    "lighten-2": #F7C83C,
                    "lighten-1": #F6C124,
                    "darken-1": #DDA80A,
                    "darken-2": #C49509,
                    "darken-3": #AC8208,
                    "darken-4": #937007,
            );

$mine-shaft: (
                     "background": #ECECEC,
                     "base": #3B3B3B,
                     "lighten-5": #9D9D9D,
                     "lighten-4": #898989,
                     "lighten-3": #757575,
                     "lighten-2": #626262,
                     "lighten-1": #4E4E4E,
                     "darken-1": #353535,
                     "darken-2": #2F2F2F,
                     "darken-3": #292929,
                     "darken-4": #232323,
             );



$grey: (
               "base": #9E9E9E,
               "lighten-5": #FAFAFA,
               "lighten-4": #F5F5F5,
               "lighten-3": #EEEEEE,
               "lighten-2": #E0E0E0,
               "lighten-1": #BDBDBD,
               "darken-1": #757575,
               "darken-2": #616161,
               "darken-3": #424242,
               "darken-4": #212121,
       );

$red: (
              "base": #F44336,
              "lighten-5": #FFEBEE,
              "lighten-4": #FFCDD2,
              "lighten-3": #EF9A9A,
              "lighten-2": #E57373,
              "lighten-1": #EF5350,
              "darken-1": #E53935,
              "darken-2": #D32F2F,
              "darken-3": #C62828,
              "darken-4": #B71C1C,
      );

$teal: (
               "base": #009688,
               "lighten-5": #E0F2F1,
               "lighten-4": #B2DFDB,
               "lighten-3": #80CBC4,
               "lighten-2": #4DB6AC,
               "lighten-1": #26A69A,
               "darken-1": #00897B,
               "darken-2": #00796B,
               "darken-3": #00695C,
               "darken-4": #004D40,
               "accent-1": #A7FFEB,
               "accent-2": #64FFDA,
               "accent-3": #1DE9B6,
               "accent-4": #00BFA5
       );

$green: (
                "base": #4CAF50,
                "lighten-5": #E8F5E9,
                "lighten-4": #C8E6C9,
                "lighten-3": #A5D6A7,
                "lighten-2": #81C784,
                "lighten-1": #66BB6A,
                "darken-1": #43A047,
                "darken-2": #388E3C,
                "darken-3": #2E7D32,
                "darken-4": #1B5E20,
                "accent-1": #B9F6CA,
                "accent-2": #69F0AE,
                "accent-3": #00E676,
                "accent-4": #00C853
        );

$shades: (
                 "black": #000000,
                 "white": #FFFFFF,
                 "blue":#007B55,
                 "indigo": #6610F2,
                 "purple": #A3418F,
                 "pink": #E83E8C,
                 "red": #DC3545,
                 "orange": #FD7E14,
                 "yellow": #F6BB0C,
                 "green": #28A745,
                 "teal": #20C997,
                 "cyan": #17A2B8,
                 "transparent": transparent
         );

$light-blue: (
                     "base": #03A9F4,
                     "lighten-5": #E1F5FE,
                     "lighten-4": #B3E5FC,
                     "lighten-3": #81D4FA,
                     "lighten-2": #4FC3F7,
                     "lighten-1": #29B6F6,
                     "darken-1": #039BE5,
                     "darken-2": #0288D1,
                     "darken-3": #0277BD,
                     "darken-4": #01579B,
                     "accent-1": #80D8FF,
                     "accent-2": #40C4FF,
                     "accent-3": #00B0FF,
                     "accent-4": #0091EA
             );

$colors: (
                 "amaranth": $amaranth,
                 "buttercup": $buttercup,
                 "grey": $grey,
                 "green": $green,
                 "teal": $green,
                 "light-blue": $light-blue,
                 "mine-shaft": $mine-shaft,
                 "orange": $orange,
                 "purple": $purple,
                 "red": $red,
                 "shades": $shades) !default;

