<div class="container-navbar">
    <div class="navbar">
        <div class="navbar-button">
            <a href="">
                <i class="mdi mdi-newspaper mdi-36px"></i>
            </a>
            <a href="">
                <i class="mdi mdi-account-multiple mdi-36px"></i>
            </a>
            <a href="{{ path('homepage') }}">
                <i class="mdi mdi-home mdi-36px"></i>
            </a>
            <a href="">
                <i class="mdi mdi-message-outline mdi-36px"></i>
            </a>
            <a href="#">
                <i id="burger-icon" class="mdi mdi-menu mdi-36px"></i>
            </a>
        </div>
    </div>
</div>
